@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --special-color: #F8B259;
    --primary-color: #1d1d1d;
    --secondary-color: #e1e1de;
    --third-color: #A62C2C;
    --font-color: #ffff;
    --font-size: 1.4rem;
    --font-size2: 1.1rem;
}
/* Top bar style 
.top-bar {
  background-color: #1c1c1c;    
  color: #d4af7a;
  font-size: 0.7rem;
  padding: 5px 0;
}
.top-bar i {
  margin-right: 5px;
}  */

/* Main navbar */
.navbar {
  background-color: #1c1c1c;
}

.navbar-brand {
  color: #d4af7a;
  font-weight: bold;
}

.logo{
    color: var(--special-color);
    text-decoration: none;
    font-size: var(--font-size);
}
.nav-link {
    color: var(--special-color);
}
header span{
    color: var(--special-color);
}
header .carousel-cap{
    color: var(--primary-color);
}
section{
    margin: 20px 0;
    padding: 20px 0;
}
h2{
    font-size: var(--font-size2);
}    
h3{
    color: var(--special-color);
    font-size: var(--font-size);
}
ul{
    list-style: none;
}
ul i{
    color: var(--special-color);
    transition: all .3s ease-in;
}  
ul i:hover{
    color: #B85C38;
} 
.carousel-inner .carousel-item {
  transition: -webkit-transform .5s ;
  transition: transform .5s ;
  transition: transform .5s, -webkit-transform .5s ;
}
/* Contact style */
.contact {
  background-color: #f8f8f8;
}

.map-container {
  border: 2px solid #fff;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.226);
}